// @include mq(768px) {
    .menu-button {
        display: block;
        transition: all 200ms ease-in-out;
        position: fixed;
        right: -135px;
        bottom: 30px;
        width:60px;
        height:60px;
        text-align:center;
        line-height:60px;
        border-radius:50%;
        background-color: $theme-orange;
        color:#FFFFFF;
        font-size:24px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
        cursor:pointer;
        &:active {
            background:darken(#E91E63,5%);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        }
        a {
            transition: all 200ms ease-in-out;
            opacity:0;
            width:0px;
            height:0px;
            text-align:center;
            line-height:50px;
            border-radius:50%;
            color:#FFFFFF;
            font-size:24px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
            cursor:pointer;
            &:active{
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
            }
            &:nth-child(2) {
                transition-delay: 0.3s;            
                position:absolute;
                right:30px;
                bottom:-10px;
                background:#55acee;
            }
            &:nth-child(3) {
                transition-delay: 0.4s;
                position:absolute;
                right:30px;
                bottom:-10px;
                background:#dc4e41;
            }
            &:nth-child(4) {
                transition-delay: 0.5s;;
                position:absolute;
                right:30px;
                bottom:-10px;
                background:#3F3F3F;
            }
        }
        &:hover {
            a {
                opacity:1;
                width:50px;
                height:50px;
                &:nth-child(2) {
                    right:80px;
                    bottom:0px;
                    &:hover {
                        transition-delay: 0s;;
                        background:darken(#55acee,5%);
                    }
                }
                &:nth-child(3) {
                    right:65px;
                    bottom:65px;
                    &:hover{
                        transition-delay: 0s;;
                        background:darken(#dc4e41,5%);
                    }
                }
                &:nth-child(4) {
                    right:0px;
                    bottom:80px;
                    &:hover {
                        transition-delay: 0s;;
                        background:darken(#3F3F3F,5%);
                    }
                }
            }
        }
    }
    .share-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        svg {
            margin-right: 5px;
        }
    }
// }

